.titleContacts {
  font-size: 27px;
}
.filterInput {
    border-radius: 5px;
    margin-bottom: 30px;
padding: 10px;
}
.contactList {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  list-style: none;
  font-size: 15px;
}
